<div class="container-fuild" >
    <div class="row" *ngIf="users">
      <div class="col-md-3">

        <img [src]="users.avatar_url" alt="" height=80px width="80px">
        
      </div>
      <div class="col-md-3">
        <a [href]="users.html_url" target="_blank"><button style=color:white;background-color:green>{{users?.login}}</button></a>
      </div>
      <div class="col-md-3">
      <a [href]="users.html_url">{{users?.name}}</a>
       </div>
     
    </div>
     <div class="col-md-3" *ngIf="error">
      <div class="col-md-3">
       {{error}}
      </div>

    </div>
</div>